      .right {
          width: 400px;
          border: 1px solid black;
          margin: 30px auto;
          padding: 10px;
          background-color: yellow;
      }

      .boxA {
          padding: 20px 15px;
          background-color: #abd2ae;
          font: 12px Arial, Helvetica, sans-serif;
          text-align: justify;
      }

      .boxB {
          padding: 20px 15px;
          background-color: #abd2ae;
          font: 12px Arial, Helvetica, sans-serif;
          text-align: justify;
          border: 2px solid #4f4f4f;
      }

      .boxC {
          padding: 20px 15px;
          background: url(../assets/tc.jpg) left top repeat-x #feffff;
          font: 12px Arial, Helvetica, sans-serif;
          text-align: justify;
          border: 2px solid #4f4f4f;
      }

      .boxD {
          font: 12px Arial, Helvetica, sans-serif;
          text-align: justify;
          border: 2px solid #4f4f4f;
          background-color: #feffff;
      }

      .boxD .top {
          background: url(../assets/tc.jpg) left top repeat-x;
      }

      .boxD .bottom {
          padding: 20px 15px;
          height: 400px;
          min-height: 255px;
          background: url(../assets/bc.jpg) left bottom repeat-x;
      }

      /* box có tiêu đề */
      .boxA-Title {
          background-color: #abd2ae;
          font: 12px Arial, Helvetica, sans-serif;
          text-align: justify;
      }

      .boxA-Title .title {
          padding: 0 31px;
          font: italic bold 24px/47px Arial, Helvetica, sans-serif;
      }

      .boxA-Title .line {
          background-color: #feffff;
          height: 1px;
      }

      .boxA-Title .contentBox {
          padding: 11px;
      }

      .boxB-Title {
          background-color: #abd2ae;
          font: 12px Arial, Helvetica, sans-serif;
          text-align: justify;
          border: 2px solid #4f4f4f;
      }

      .boxB-Title .title {
          background: url(../assets/hearts.png) 12px center no-repeat;
          padding: 0 43px;
          font: italic bold 24px/47px Arial, Helvetica, sans-serif;
      }

      .boxB-Title .line {
          background-color: #4f4f4f;
          height: 1px;
      }

      .boxB-Title .contentBox {
          padding: 11px;
      }

      .boxC-Title {
          background: url(../assets/header-tc.jpg) left top repeat-x #abd2ae;
          font: 12px Arial, Helvetica, sans-serif;
          text-align: justify;
          border: 2px solid #4f4f4f;
      }

      .boxC-Title .title {
          background: url(../assets/hearts.png) 12px center no-repeat;
          padding: 0 43px;
          font: italic bold 24px/47px Arial, Helvetica, sans-serif;
      }

      .boxC-Title .line {
          background-color: #4f4f4f;
          height: 1px;
      }

      .boxC-Title .contentBox {
          padding: 11px;
      }

      .boxD-Title {
          background: url(../assets/header-tc.jpg) left top repeat-x #abd2ae;
          font: 12px Arial, Helvetica, sans-serif;
          text-align: justify;
          border: 2px solid #4f4f4f;
      }

      .boxD-Title .title {
          background: url(../assets/hearts.png) 12px center no-repeat;
          padding: 0 43px;
          font: italic bold 24px/47px Arial, Helvetica, sans-serif;
      }

      .boxD-Title .line {
          background-color: #4f4f4f;
          height: 1px;
      }

      .boxD-Title .contentBox {
          background: url(../assets/tc.jpg) left top repeat-x #feffff;
          padding: 11px;
      }

      .boxE-Title {
          background: url(../assets/tc.jpg) left top repeat-x #feffff;
          font: 12px Arial, Helvetica, sans-serif;
          text-align: justify;
          border: 2px solid #4f4f4f;
      }

      .boxE-Title .title {
          background: url(../assets/hearts.png) 12px center no-repeat;
          padding: 0 43px;
          font: italic bold 24px/47px Arial, Helvetica, sans-serif;
      }

      .boxE-Title .line {
          background-color: #4f4f4f;
          height: 1px;
          margin: 0 12px;
      }

      .boxE-Title .contentBox {
          padding: 11px;
      }

      .boxF-Title {
          background: #feffff;
          font: 12px Arial, Helvetica, sans-serif;
          text-align: justify;
          border: 2px solid #4f4f4f;
      }

      .boxF-Title .title {
          background: url(../assets/hearts.png) 12px center no-repeat;
          padding: 0 43px;
          font: italic bold 24px/47px Arial, Helvetica, sans-serif;
      }

      .boxF-Title .line {
          background-color: #4f4f4f;
          height: 1px;
          margin: 0 12px;
      }

      .boxF-Title .contentBox {
          padding: 11px;
      }

      .boxF-Title .top {
          background: url(../assets/tc.jpg) left top repeat-x;
      }

      .boxF-Title .bot {
          min-height: 255px;
          background: url(../assets/bc.jpg) left bottom repeat-x;
      }